.sprite {
  width: 134px;
  height: 134px;
  background-image: url("../img/dino.png");
  animation: run 1s steps(6) infinite;
}

@keyframes run {
  from {
    background-position: 0px;
  }
  to {
    background-position: -800px;
  }
}
