/* VAriables i estils */
:root {
	--white: rgba(255,255,255,1);
	--green: rgba(117,191,122,1);
	--black: rgba(0,0,0,1);
	--light-gray: rgba(158,157,162,1);
	--gray: rgba(139,139,165,1);
	--dark-gray: rgba(39,32,66,1);
	--background: rgba(249,249,249,1);
}
.big-title {
	font-size: 64px;
	font-family: "Inter";
	font-weight: 700;
	font-style: normal;
	line-height: 65.91px;
	text-decoration: none;
	text-transform: none;
}
.normal {
	font-size: 18px;
	font-family: "Inter";
	font-weight: 500;
	font-style: normal;
	line-height: 26px;
	text-decoration: none;
	text-transform: none;
    margin:0;
}
.description-hero {
	font-size: 24px;
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
	line-height: 33px;
	text-decoration: none;
	text-transform: none;
    color: var(--light-gray);
}
.how-it-works .description-hero{
    text-align:center;
    width:620px;
    margin:auto;
}
.button {
	font-size: 24px;
	font-family: Inter;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
.section-title {
	font-size: 47px;
	font-family: Inter;
	font-weight: 900;
	font-style: normal;
	line-height: 50.35px;
	text-decoration: none;
	text-transform: uppercase;
    text-align:center;
}
.section-subtitle {
	font-size: 22px;
	font-family: Inter;
	font-weight: 800;
	font-style: normal;
	line-height: 50.35px;
	text-decoration: none;
	text-transform: none;
    margin:0;
}
.small-button {
	font-size: 16px;
	font-family: Inter;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
.small {
	font-size: 16px;
	font-family: Inter;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
/* HEADER SECTION */
header{
    padding-top:80px;
}
.container{
    width: 1200px;
    margin:auto;
    
}
.flex{
    display:flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    padding:0;
    list-style: none;
}
header li{
    padding:5px 30px;
}
header a{
    color: var(--Dark-gray, #272042);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    text-decoration: none; /* treure subratllat */
    transition: all 0.3s; /* transició de color de 0.3 segons */
    display:block;
}
header a:hover{
    color: var(--green);
    transform: scale(1.1); /* moure cap amunt 10px */
}

.green{
    color: var(--green);
}

/* Secció How Tere works */
.how-it-works .row{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
    margin-top:65px;
}
.how-it-works .step{
    border:1px solid red;
    margin-bottom:15px;
}
.how-it-works .right {
    text-align:right;
}
.how-it-works .right .step-number{
    margin-left:auto;
}

.how-it-works .step-number{
    color: var(--green);
    font-family: "Inter";
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 37.019px; /* 108.537% */
    background-image: url('../img/step.png');
    width:62px;
    height:62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
